
.svn/
proj.android/
proj.ios_mac/
proj.win32/.idea/
proj.win32/.vs/
proj.win32/Debug.win32/
proj.win32/Debug.win32.test/
proj.win32/Debug.win32.test.ko
proj.win32/enc_temp_folder/
proj.win32/Release.win32/
proj.win32/res/
proj.win32/build-cfg.json
proj.win32/game.rc
proj.win32/main.cpp
proj.win32/main.h
proj.win32/resource.h
ResourcesiOS/
spine/
cocos2d/
icon/
plan/
plist/
key/
Debug/
Release/
**/Debug/
**/Release/
**/x64/
**/.vs/


Classes.zip
cocos2d.zip
sqlite3.exe
svn_delete_lock.bat
test.txt

/TempGame/proj.linux/main.cpp
/TempGame/proj.win32/Debug.win32/Resources/fonts/arial.ttf
/TempGame/proj.win32/Debug.win32/Resources/fonts/Marker Felt.ttf
/TempGame/proj.win32/Debug.win32/Resources/res/.gitkeep
/TempGame/proj.win32/Debug.win32/TempGame.tlog/CL.6944.write.1.tlog
/TempGame/proj.win32/Debug.win32/TempGame.tlog/CL.command.1.tlog
/TempGame/proj.win32/Debug.win32/TempGame.tlog/Cl.items.tlog
/TempGame/proj.win32/Debug.win32/TempGame.tlog/CL.read.1.tlog
/TempGame/proj.win32/Debug.win32/TempGame.tlog/CustomBuildStep.read.1u.tlog
/TempGame/proj.win32/Debug.win32/TempGame.tlog/CustomBuildStep.write.1u.tlog
/TempGame/proj.win32/Debug.win32/TempGame.tlog/link.command.1.tlog
/TempGame/proj.win32/Debug.win32/TempGame.tlog/link.read.1.tlog
/TempGame/proj.win32/Debug.win32/TempGame.tlog/link.secondary.1.tlog
/TempGame/proj.win32/Debug.win32/TempGame.tlog/link.write.1.tlog
/TempGame/proj.win32/Debug.win32/TempGame.tlog/rc.command.1.tlog
/TempGame/proj.win32/Debug.win32/TempGame.tlog/rc.read.1.tlog
/TempGame/proj.win32/Debug.win32/TempGame.tlog/rc.write.1.tlog
/TempGame/proj.win32/Debug.win32/TempGame.tlog/TempGame.lastbuildstate
/TempGame/proj.win32/Debug.win32/AppDelegate.obj
/TempGame/proj.win32/Debug.win32/freetype.lib
/TempGame/proj.win32/Debug.win32/game.res
/TempGame/proj.win32/Debug.win32/glew32.dll
/TempGame/proj.win32/Debug.win32/glew32.lib
/TempGame/proj.win32/Debug.win32/glfw3.lib
/TempGame/proj.win32/Debug.win32/HelloWorldScene.obj
/TempGame/proj.win32/Debug.win32/iconv.dll
/TempGame/proj.win32/Debug.win32/libbox2d.lib
/TempGame/proj.win32/Debug.win32/libbullet.lib
/TempGame/proj.win32/Debug.win32/libchipmunk.lib
/TempGame/proj.win32/Debug.win32/libcocos2d.dll
/TempGame/proj.win32/Debug.win32/libcocos2d.exp
/TempGame/proj.win32/Debug.win32/libcocos2d.lib
/TempGame/proj.win32/Debug.win32/libcocos2d.pdb
/TempGame/proj.win32/Debug.win32/libcrypto-1_1.dll
/TempGame/proj.win32/Debug.win32/libcrypto.lib
/TempGame/proj.win32/Debug.win32/libcurl.dll
/TempGame/proj.win32/Debug.win32/libcurl.lib
/TempGame/proj.win32/Debug.win32/libiconv.lib
/TempGame/proj.win32/Debug.win32/libjpeg.lib
/TempGame/proj.win32/Debug.win32/libmpg123.dll
/TempGame/proj.win32/Debug.win32/libmpg123.lib
/TempGame/proj.win32/Debug.win32/libogg.dll
/TempGame/proj.win32/Debug.win32/libogg.lib
/TempGame/proj.win32/Debug.win32/libpng.lib
/TempGame/proj.win32/Debug.win32/librecast.lib
/TempGame/proj.win32/Debug.win32/librecast.pdb
/TempGame/proj.win32/Debug.win32/libSpine.idb
/TempGame/proj.win32/Debug.win32/libSpine.lib
/TempGame/proj.win32/Debug.win32/libSpine.pdb
/TempGame/proj.win32/Debug.win32/libssl-1_1.dll
/TempGame/proj.win32/Debug.win32/libssl.lib
/TempGame/proj.win32/Debug.win32/libtiff.lib
/TempGame/proj.win32/Debug.win32/libvorbis.dll
/TempGame/proj.win32/Debug.win32/libvorbis.lib
/TempGame/proj.win32/Debug.win32/libvorbisfile.dll
/TempGame/proj.win32/Debug.win32/libvorbisfile.lib
/TempGame/proj.win32/Debug.win32/libwebp.lib
/TempGame/proj.win32/Debug.win32/libzlib.lib
/TempGame/proj.win32/Debug.win32/main.obj
/TempGame/proj.win32/Debug.win32/OpenAL32.dll
/TempGame/proj.win32/Debug.win32/OpenAL32.lib
/TempGame/proj.win32/Debug.win32/sqlite3.dll
/TempGame/proj.win32/Debug.win32/sqlite3.lib
/TempGame/proj.win32/Debug.win32/TempGame.exe
/TempGame/proj.win32/Debug.win32/TempGame.exe.recipe
/TempGame/proj.win32/Debug.win32/TempGame.exp
/TempGame/proj.win32/Debug.win32/TempGame.ilk
/TempGame/proj.win32/Debug.win32/TempGame.lib
/TempGame/proj.win32/Debug.win32/TempGame.log
/TempGame/proj.win32/Debug.win32/TempGame.pdb
/TempGame/proj.win32/Debug.win32/TempGame.vcxproj.FileListAbsolute.txt
/TempGame/proj.win32/Debug.win32/uv_a.lib
/TempGame/proj.win32/Debug.win32/uv.dll
/TempGame/proj.win32/Debug.win32/vc143.idb
/TempGame/proj.win32/Debug.win32/vc143.pdb
/TempGame/proj.win32/Debug.win32/websockets.dll
/TempGame/proj.win32/Debug.win32/websockets.lib
/TempGame/proj.win32/Debug.win32/zlib1.dll
